# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admin\Desktop\codegym\module_2\module2\th_chuong_trinh_chuyen_doi_nhiet_do\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
